li {
  text-decoration: none;
}
.header {
  background-color: #222222;
  height: 100px;
  padding: 0 5%;
}
.header-content {
  max-width: 1024px;
  height: 100px;
  margin: 0 auto;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 100;
}

.header-content h1 {
  padding: 15px 0;
  margin: 0;
}
@media (max-width: 400px) {
  .header-content h1 {
    font-size: 35px;
  }
}
.header-content ion-icon {
  color: white;
  font-size: 40px;
  cursor: pointer;
  /* padding-right: 25px; */
}

.navbar {
  position: absolute;
  padding: 0;

  right: 0;
  top: 100px;

  height: 0;

  width: 100vw;
  max-width: 500px;

  background-color: #222222;
  color: white;

  transition: height ease 0.5s;
  overflow: hidden;
}
.navbar-list {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
@media (min-width: 700px) {
  .navbar-list {
    display: flex;
    gap: 25px;
  }
}

.arrow {
  transform: rotate(-90deg);
  color: black !important;
}
