.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "raleway", sans-serif;
  /* font-weight: 200; */
  /* font-style: normal; */
  background-color: #222222;
}
a {
  text-decoration: unset;
  color: inherit;
}
button {
  border: unset;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ÉTLAP */
.menu {
  width: 89.5%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  color: #4d4d4d;
}
.menu-content {
  padding: 0 5%;
  max-width: 700px;
  margin: 0 auto;
}
.page-header-image {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}
.page-title {
  text-align: center;
  position: relative;
  margin: 40px auto;
  padding-bottom: 20px;
  font-size: 40px;
}
.page-title::after {
  content: "";
  position: absolute;
  background: #4d4d4d;
  width: 2em;
  height: 0.11em;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.2em;
}
.food-category {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.food {
  display: flex;
  justify-content: space-between;
}
.food-title {
  font-weight: bold;
  margin-top: 0;
}
.food-price {
  margin-top: 0;
}
